Assets/Scripts.meta
Assets/Scripts/RotateCube.cs
Assets/Scripts/RotateCube.cs.meta
Library/CrashedAssetImports.txt
Library/metadata/29/2925e35bfc9766749a719c0954e2608a
Library/metadata/29/2925e35bfc9766749a719c0954e2608a.info
Temp/UnityLockfile
Temp/UnityTempFile-29b4728dd2025bf43ae12ec325633fa9
Temp/UnityTempFile-350da113d08ef154f8ab5b40fc550cc1
Temp/UnityTempFile-5f76e2f4ba073974a9af155d94d7f38c
Temp/UnityTempFile-897bf1bafd184a646bacdfdd2de3e9cc
Temp/UnityTempFile-89f610ae97f88274d897b2dfedf4fcea
Temp/UnityTempFile-94d2658a68d808943b607cafb9269ce6
Temp/UnityTempFile-a330e9133ecf14b478baea208e01d44c
Temp/UnityVS_bin/Debug/UnityEditor.xml
Temp/UnityVS_bin/Debug/UnityEngine.Analytics.xml
Temp/UnityVS_bin/Debug/UnityEngine.Networking.xml
Temp/UnityVS_bin/Debug/UnityEngine.UI.xml
Temp/UnityVS_bin/Debug/UnityEngine.xml
Temp/__Backupscenes/0.backup
